Node-RED/Cloudant-Store-flow.json
[{"id":"f2818749.4a8ad8","type":"ibmiot","z":"519983d4.82448c","name":"coi0nz"},{"id":"f396adc3.b4e0d8","type":"ibmiot in","z":"519983d4.82448c","authentication":"apiKey","apiKey":"f2818749.4a8ad8","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"result","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":"","x":206.1999969482422,"y":144.1999969482422,"wires":[["a98be6b0.04c158","f42ea830.63aee8"]]},{"id":"f42ea830.63aee8","type":"cloudant out","z":"519983d4.82448c","service":"gateway-sample-cloudantNoSQLDB","cloudant":"","name":"Cloudant Store","database":"recipedb","payonly":true,"operation":"insert","x":460.1999969482422,"y":231.1999969482422,"wires":[]},{"id":"a98be6b0.04c158","type":"debug","z":"519983d4.82448c","name":"Debug","active":true,"console":"false","complete":"payload","x":382.49998474121094,"y":144,"wires":[]}]