Node-RED/Watson ML model invocation-flow.json
[{"id":"21b885a3.99e93a","type":"http request","z":"263b80d8.a0cdf","name":"Invoke scoring model","method":"POST","ret":"obj","url":"https://prod-scoring-ml.spark.bluemix.net:32768/v1/score/271","tls":"","x":397.5,"y":277.2000274658203,"wires":[["cb77a388.34ded","b4add295.03d08"]]},{"id":"7aee10dd.a54b58","type":"function","z":"263b80d8.a0cdf","name":"Form  Scoring payload","func":"var temperature = msg.payload.d.temperature;\nmsg.headers= {\n    \"Content-Type\":\"application/json\",\n    \"Authorization\":\"+AEzybcTDGqfy8gMMSQ5Mg==\",\n    \"Accept\":\"application/json\"\n}\nmsg.payload = {\"record\": [\"1/5/2016 0:15\",temperature]}\nreturn msg;","outputs":1,"noerr":0,"x":157.49998474121094,"y":277.00001525878906,"wires":[["21b885a3.99e93a"]]},{"id":"24fe118c.193afe","type":"ibmiot in","z":"263b80d8.a0cdf","authentication":"apiKey","apiKey":"fc975fbb.a488f","inputType":"evt","deviceId":"Device01","applicationId":"","deviceType":"+","eventType":"iotsensor","commandType":"","format":"json","name":"Receive temp events from WIoTP","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":true,"qos":0,"x":172.5,"y":186.59999084472656,"wires":[["7aee10dd.a54b58"]]},{"id":"cb77a388.34ded","type":"function","z":"263b80d8.a0cdf","name":"Prepare result event","func":"var deviceId = msg.deviceId;\nvar deviceType = msg.deviceType;\nvar prediction = msg.payload.result.prediction;\nvar temperature = msg.payload.result.temperature;\n\nvar msg = {\n    payload: {\n       \"temperature\": temperature,\n       \"anomaly\":prediction\n    },\n    \"deviceId\": deviceId,\n    \"deviceType\": deviceType,\n    \"eventOrCommandType\": \"result\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":619.5,"y":277.59999084472656,"wires":[["e5503c88.51ab28"]]},{"id":"e5503c88.51ab28","type":"ibmiot out","z":"263b80d8.a0cdf","authentication":"apiKey","apiKey":"","outputType":"evt","deviceId":"","deviceType":"","eventCommandType":"","format":"json","data":"","qos":0,"name":"Send score to WIoTP","service":"registered","x":581.5,"y":364.4000244140625,"wires":[]},{"id":"b4add295.03d08","type":"debug","z":"263b80d8.a0cdf","name":"","active":true,"console":"false","complete":"false","x":606.4499816894531,"y":194.26666259765625,"wires":[]},{"id":"fc975fbb.a488f","type":"ibmiot","z":"","name":"blmtzs","keepalive":"60","cleansession":true,"appId":"","shared":false}]